{% extends "base.html" %}
{% block content %}

<p>Faire une page pour l'export de la carte en PDF/Openoffice (pour imprimer) et en HTML pour faire un site web.
Les 2 avec des templates !</p>

<h1>Catégories</h1>

<table>
<tr>
	<td><b>Priorite</b></td>
	<td><b>Nom</b></td>
    <td></td>
	<td><b>Surtaxe terrasse</b></td>
	<td><b>Désactiver la surtaxe</b></td>
	<td><b>Alcool</b></td>
	<td><b>Couleur</b></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
{% for c in categories %}
<tr bgcolor="{{c.couleur.web}}">
	<td>
        <a href="/carte/categories/{{c.id}}/less-10/"><<</a> 
        <a href="/carte/categories/{{c.id}}/less/"><</a> 
        {{ c.priorite }} 
        <a href="/carte/categories/{{c.id}}/more/">></a> 
        <a href="/carte/categories/{{c.id}}/more-10/">>></a> 
    </td>
    <form method='post' action='/carte/categories/{{c.id}}/change/'>{% csrf_token %}
	<td><input name='name' value="{{c.nom}}"></td>
    <td><input type='submit' value='Modifier'></td>
    </form>
	<td align="center" onclick="window.location='/carte/categories/{{c.id}}/surtaxable/'">
            <input type="checkbox" name="reponse" {% if c.surtaxable %}checked="True"{% endif %} />
    </td>
	<td align="center" onclick="window.location='/carte/categories/{{c.id}}/disable_surtaxe/'">
            <input type="checkbox" name="reponse" {% if c.disable_surtaxe %}checked="True"{% endif %} />
    </td>
	<td align="center" onclick="window.location='/carte/categories/{{c.id}}/alcool/'">
            <input type="checkbox" name="reponse" {% if c.alcool %}checked="True"{% endif %} />
    </td>
	<td>{{ c.couleur }}</td>
	<td align='center'><a href="/stats/categorie/{{c.id}}/">ventes</a></td>
	<td align="center"><a href="/carte/products/cat/{{c.id}}/">produits</a></td>
	<td align="center"><a href="/carte/categorie/{{c.id}}/delete/">supprimer</a></td>
</tr>
{% endfor %}
<tr><form method='post' action='/carte/categories/new/'>{% csrf_token %}
    <td><input name='priority'></td>
    <td><input name='name'></td>
    <td><input type='submit' value='Créer'></td>
    </form>
</tr>
</table>

{% endblock %}

