{% extends "base.html" %}
{% block content %}

<h1>Catégories</h1>

<table>
<tr>
	<td><b>Priorite</b></td>
	<td><b>Nom</b></td>
	<td><b>Surtaxe terrasse</b></td>
	<td><b>Peut désactiver la surtaxe</b></td>
	<td><b>Alcool</b></td>
	<td><b>Couleur</b></td>
	<td><b>Stats des ventes</b></td>
	<td><b>Liste des produits</b></td>
	<td><b>Suppression</b></td>
</tr>
{% for c in categories %}
<tr bgcolor="{{c.couleur.web}}">
	<td>
        <a href="/carte/categories/{{c.id}}/less-10/"><<</a> 
        <a href="/carte/categories/{{c.id}}/less/"><</a> 
        {{ c.priorite }} 
        <a href="/carte/categories/{{c.id}}/more/">></a> 
        <a href="/carte/categories/{{c.id}}/more-10/">>></a> 
    </td>
	<td>{{ c.nom }}</td>
	<td align="center" onclick="window.location='/carte/categories/{{c.id}}/surtaxable/'">
            <input type="checkbox" name="reponse" {% if c.surtaxable %}checked="True"{% endif %} />
    </td>
	<td align="center" onclick="window.location='/carte/categories/{{c.id}}/disable_surtaxe/'">
            <input type="checkbox" name="reponse" {% if c.disable_surtaxe %}checked="True"{% endif %} />
    </td>
	<td align="center" onclick="window.location='/carte/categories/{{c.id}}/alcool/'">
            <input type="checkbox" name="reponse" {% if c.alcool %}checked="True"{% endif %} />
    </td>
	<td>{{ c.couleur }}</td>
	<td><a href="/stats/categorie/{{ c.id }}/§">stats</a></td>
	<td>produits</td>
	<td>supprimer</td>
</tr>
{% endfor %}
</table>

<p>Ajout d'une catégorie ...</p>

{% endblock %}

