{% extends "base.html" %}
{% block content %}

<h1>Produits</h1>

<p>catégorie affichée: ... / afficher seulement les produits actifs</p>

<table>
<tr>
	<td><b>Nom</b></td>
	<td><b>Nom facture</b></td>
	<td><b>Pric TTC</b></td>
    <td></td>
	<td><b>Actif</b></td>
	<td></td>
</tr>
{% for p in products %}
<tr><form method='post' action='/carte/products/{{p.id}}/change/'>{% csrf_token %}
    <td><input name='name' value="{{p.nom}}"></td>
    <td><input name='billname' value="{{p.nom_facture}}"></td>
    <td><input name='prize' value="{{p.prix}}"></td>
    <td><input type='submit' value='Modifier'></td>
    </form>
    <td align="center" onclick="window.location='/carte/products/{{p.id}}/active/'"
        {% if p.actif %}bgcolor="#00FF00"> 
        <input type="checkbox" checked="True"/>
        {% else %}bgcolor="#FF0000"> 
        <input type="checkbox"/>
        {% endif %}
    </td>
    <td align="center">
        <a href="/carte/products/{{p.id}}/details/">détails</a>
    </td>
</tr>
{% endfor %}
<tr><form method='post' action='/carte/products/new/'>{% csrf_token %}
    <td><input name='name'></td>
    <td><input name='billname'></td>
    <td><input name='prize'></td>
    <td><input type='submit' value='Créer'></td>
    </form>
</tr>
</table>

{% endblock %}

