{% extends "base.html" %}
{% block content %}

<h1>Liste des produits</h1>

<table>
<tr>
    <td>Catégorie affichée: </td>
    <td align="center">
    <SELECT name="categorie">
    {% for cat in categories %}
        <OPTION {% if cat == cat_current %}selected{% endif %}
                onclick="window.location='/carte/products/cat/{{cat.id}}/'"
                VALUE="{{ cat.id }}">{{ cat.nom }}</OPTION>
    {% endfor %}
    </SELECT>
    </td>
    <td colspan="2">Afficher seulement les produits actifs</td>
    <td align="center" onclick="window.location='/carte/products/cat/{{cat_current.id}}/enable/'">
        {% if enable %}
        <input type="checkbox" checked="True"/>
        {% else %}
        <input type="checkbox"/>
        {% endif %}
    </td>
</tr>
<tr>
    <td><b>Nom</b></td>
    <td><b>Nom facture</b></td>
    <td><b>Pric TTC</b></td>
    <td></td>
    <td><b>Actif</b></td>
    <td></td>
</tr>
{% for p in products %}
<tr><form method='post' action='/carte/products/{{p.id}}/change/'>{% csrf_token %}
    <td><input name='name' value="{{p.nom}}"></td>
    <td><input name='billname' value="{{p.nom_facture}}"></td>
    <td><input name='prize' value="{{p.prix}}" class="prize"></td>
    <td><input type='submit' value='Modifier'></td>
    </form>
    <td align="center" onclick="window.location='/carte/products/{{p.id}}/active/'"
        {% if p.actif %}bgcolor="#00FF00">
        <input type="checkbox" checked="True"/>
        {% else %}bgcolor="#FF0000">
        <input type="checkbox"/>
        {% endif %}
    </td>
    <td align="center">
        <a href="/carte/products/{{p.id}}/details/">détails</a>
    </td>
</tr>
{% endfor %}
<tr><form method='post' action='/carte/products/cat/{{cat_current.id}}/new/'>{% csrf_token %}
    <td><input name='name'></td>
    <td><input name='billname'></td>
    <td><input name='prize' class="prize"></td>
    <td><input type='submit' value='Créer'></td>
    </form>
</tr>
</table>

{% endblock %}

