{% extends "base.html" %}
{% block content %}

<h1>Mes informations</h1>

<p>Vos identifiants de connexion sont personnels, vous ne devez pas les
communiquer.</p>

<table>
<tr>
	<td><b>Nom</b></td>
    <td>{{user.last_name}}</td>
</tr>
<tr>
	<td><b>Prénom</b></td>
    <td>{{user.first_name}}</td>
</tr>
<tr>
	<td><b>Login</b></td>
    <td>{{user.username}}</td>
</tr>
<tr>
	<td><b>Mail</b></td>
    <td>{{user.email}}</td>
</tr>
</table>

<h2>Changement de mot de passe</h2>

<center>
<form method='post' action='/profile/'>{% csrf_token %}
<table>
<tr>
    <td><b>Mot de passe actuel</b></td>
    <td><input type='password' name='old' size='30'></td>
</tr>
<tr>
    <td><b>Nouveau mot de passe (1)</b></td>
    <td><input type='password' name='new1' size='30'></td>
</tr>
<tr>
    <td><b>Nouveau mot de passe (2)</b></td>
    <td><input type='password' name='new2' size='30'></td>
</tr>
</table>
<input type='submit' value='Modifier'>
</form>
</center>

{% endblock %}

