{% extends "base.html" %}
{% block content %}

<h1>Utilisateurs</h1>

<table>
<tr>
	<td><b>Login (*)</b></td>
	<td><b>Nom</b></td>
	<td><b>Prénom</b></td>
	<td><b>Mail</b></td>
    <td></td>
	<td><b>Actif ?</b></td>
    {% for p in perms_list %}
	<td align="center"><b>{{p}}</b></td>
    {% endfor %}
	<td><b>Mot de passe</b></td>
</tr>
{% for u in users %}
<!-- permissions get_all_permissions() -->
<tr><form method='post' action='/users/{{u.id}}/change/'>{% csrf_token %}
    <td>
        <input name='login' value="{{u.username}}">
    </td>
    <td>
        <input name='last_name' value="{{u.last_name}}">
    </td>
    <td>
        <input name='first_name' value="{{u.first_name}}">
    </td>
    <td>
        <input name='mail' value="{{u.email}}">
    </td>
    <td>
        <input type='submit' value='Modifier'>
    </td>
    </form>
    <td align="center" onclick="window.location='/users/{{u.id}}/active/'"
        {% if u.is_active %}bgcolor="#00FF00"> 
        <input type="checkbox" checked="True"/>
        {% else %}bgcolor="#FF0000"> 
        <input type="checkbox"/>
        {% endif %}
    </td>        
    {% for p in perms_list %}
    <td align="center" onclick="window.location='/users/{{u.id}}/perm/{{p}}/'"
        {% if p in u.permissions %}bgcolor="#00FF00"> 
        <input type="checkbox" checked="True"/>
        {% else %}bgcolor="#FF0000"> 
        <input type="checkbox"/>
        {% endif %}
    </td>    
    {% endfor %}
    <td align="center">Changer</td>
</tr>
{% endfor %}
<tr><form method='post' action='/users/new/'>{% csrf_token %}
    <td><input name='login'></td>
    <td><input name='last_name'></td>
    <td><input name='first_name'></td>
    <td><input name='mail'></td>
    <td><input type='submit' value='Créer'></td>
</form>
</tr>
</table>
<center><p>(*) : information obligatoire</p></center>
<p>Description des permissions:
<ul>
    <li>[P1] peut modifier les utilisateurs et leurs droits. Il doit rester au moins une personne avec cette permission.</li>
    <li>[P2] peut accèder à la partie Jeux</li>
    <li>[P3] peut accèder à la partie Registre (toutes les factures passées)</li>
    <li>[P4] peut modifier les factures dans la partie Registre (toutes les factures passées)</li>
    <li>[P5] peut utiliser la caisse (enregistrement des commandes et facturation)</li>
    <li>[P6] peut modifier la carte</li>
    <li>[P7] peut accèder aux résultats</li>
    <li>[P8] peut changer de musique dans le Jukebox</li>
    <li>[P9] peut modifier la musique dans le jukebox (ajout/suppression des musiques, modification des listes de lecture)</li>
</ul>
</p>

{% endblock %}

