{% extends "template.html" %}
{% block page %}
{% if error %}<div id="error"><p>{{error}}</p></div>{%endif%}

<div id="login">
	
    <form method='post' action='/accounts/login/' name='login'>{% csrf_token %}
	<ul>
		<li class="menuElement"><center><img src="/static/images/bandeau-128.png" alt="logo"/></center></li>
		<li class="menuElement"><p>identifiant : <input type='text' name='username' size='20'></p>
			<p>mot de passe : <input type='text' name='password' size='20'></p></li>
        <li class="menuElement"><input type='submit' value='Connexion'></li>
    </ul>
    </form>
</div>
{% endblock %}
