<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name=author content="S. Bonnegent">
    <link rel="stylesheet" href="/static/base.css"/> 
    <script type="text/javascript" src="/static/base.js"></script>
	<!--[if IE]><script language="javascript" type="text/javascript" src="/static/flotr/excanvas.js"></script><![endif]-->
	<script type="text/javascript" src="/static/flotr/prototype-1.6.0.2.js"></script>
	<script type="text/javascript" src="/static/flotr/base64.js"></script>
	<script type="text/javascript" src="/static/flotr/canvas2image.js"></script>
	<script type="text/javascript" src="/static/flotr/canvastext.js"></script>
	<script type="text/javascript" src="/static/flotr/flotr.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/jdigiclock/css/jquery.jdigiclock.css" />
	<script type="text/javascript" src="/static/jdigiclock/lib/jquery.jdigiclock.js"></script>
	<script type="text/javascript" src="/static/jdigiclock/lib/jquery-1.3.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#digiclock').jdigiclock({
            weatherLocationCode="EUR|FR|FR011|ROUEN";
            weatherMetric="C";
            weatherUpdate=60;
            clockImagesPath="/static/jdigiclock/images/clock/";
            weatherImagesPath="/static/jdigiclock/images/weather/";
        });
    });
</script>

    <title>POSSUM</title>
</head>
<body>
	{% block page %}<p>Page vide!</p>{% endblock %}
</body>
</html>
